
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 2px 0px;
    height: 60px;
}

#centro-top{
    /*border: solid #000000;*/
    width: 85%;
    margin: 0 auto;
}

#logo{
    /*border: 1px solid;*/
    width: 40%;
    float: left;
    position: absolute;
}

#logout {
    /*border: 1px solid #D20005;*/
    width: 60%;
    margin-top: 35px;
    margin-left: 40%;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 2px 0px 0px 0px;
    text-align: center;
    height: 30px;
    font-size: 10px;
    color: #ffffff;
    /*float: bottom;*/
}

#menu_bar{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    height: 50px;
    float: bottom;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#container {
    width: 85%;
    margin: 0 auto;
    border-left: solid 1px #dddddd;
    border-right: solid 1px #dddddd; 
    min-height: 611px;
    /*background: none repeat scroll 0% 0% rgb(255, 255, 255);*/
}

.center_content {
    position: relative;
    background-color:#ffffff;
    padding: 5px;
    height: 100%;
    /*float: bottom;*/
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

.text_logo{
    font-family: sans-serif;
    font-size: 50px;    
}


